<html>
    <head>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='style.css') }}">
    </head>
<body id="iqmlfb">
    <div id="iljad" class="gjs-grid-row">
      <div id="ik9ro" class="gjs-grid-column">
        <div id="i3x7g" class="gjs-grid-row">
          <div id="ikryz" class="gjs-grid-column">
            <div id="i4xua" class="gjs-grid-row">
              <div id="iqb4x" class="gjs-grid-column"><a href="#feature-section" id="ie3hq"
                  class="gjs-link"><b><a href="" id="i7ix6" class="gjs-link">BitHeart</a></b></a></div>
            </div>
          </div>
          <div id="iec8t" class="gjs-grid-column"><a id="i3ha5" class="gjs-button" href="/">Main page</a></div>
        </div>
      </div>
    </div>
    <div id="ifkjrg" class="gjs-grid-row">
      <div id="in3irn" class="gjs-grid-column">
        <form method="post">
        <span id="icuunv"><b id="i3vjz">Step 1- Solve captcha</b></span>
        <img id="i6bhs" src="data:image/png;base64, {{ captcha }}" alt="captcha" />
        <br>
        <input type="hidden" id="id" name="id" value="{{ id }}">
        <input type="text" id="iya1z7" placeholder="Enter captcha text" name="text" maxlength="4"/>
        <div id="it4ik3" class="gjs-divider"></div>
        <div id="iujwqw" class="gjs-grid-row">
          <div class="gjs-grid-column">
            <b id="i4e2qj">Step 2 - Enter a display username (leave empty to be anonymous)</b><input type="text" id="iwy498" name="username" placeholder="Enter a username" maxlength="8"/><button type="submit" id="if7h26">Submit</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>  